
    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="price-all">
                            <label class="custom-control-label" for="price-all">All Price</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div *ngFor="let item of filterProducts.filterByPrice; let index = index" class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-{{index + 1}}" (click)="getFilterData($event, item, 'price')" >
                            <label class="custom-control-label" for="price-{{index + 1}}">{{item.min}}-{{item.max}}</label>
                            <span class="badge border font-weight-normal">{{item.totalProducts}}</span>
                        </div>
                    </form>
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="color-all">All Color</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div *ngFor="let item of filterProducts.filterByColor; let index = index" class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-{{index}}">
                            <label class="custom-control-label" for="color-{{index}}">{{item.color}}</label>
                            <span class="badge border font-weight-normal">{{item.totalProducts}}</span>
                        </div>
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div *ngFor="let item of filterProducts.filterBySize; let index = index" class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-{{index}}">
                            <label class="custom-control-label" for="size-{{index}}">{{item.size}}</label>
                            <span class="badge border font-weight-normal">{{item.totalProducts}}</span>
                        </div>
                    </form>
                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->

            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">{{currentSortLabel}}</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a *ngFor="let item of sortingDropdown" class="dropdown-item" (click)="sorting(item)" >{{item.label}}</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Product per Page ({{perPageItems}})</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a *ngFor="let item of [5, 10, 20, 30]" class="dropdown-item" (click)="itemPerPage(item)" >{{item}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div *ngFor="let item of itemsByCategories | paginate : { itemsPerPage : perPageItems, currentPage : currPage, totalItems : totalProducts}" class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" style="height:300px ;" src="{{item.image | image}}" alt="">
                                <div class="product-action" *ngIf="productActionIcons" [routerLink]="['/shop-detail', item.id]">
                                    <a *ngFor="let action of productActionIcons" class="btn btn-outline-dark btn-square" [routerLink]="action.route" ><i class="{{action.icon}}"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none d-block text-truncate" [routerLink]="['/shop-detail', item.id]">{{item.title}}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{item.price * currencyInfo.currencyPrice | currency : currencyInfo.currencyName}}</h5><h6 class="text-muted ml-2"><del>{{item.price * currencyInfo.currencyPrice | currency : currencyInfo.currencyName}}</del></h6>
                                </div>
                                <div *ngIf="item.rating.rate" class="d-flex align-items-center justify-content-center mb-1 text-primary">
                                    <!-- Star Rating Component -->
                                    <app-rating [rating]="item.rating.rate" [ratingCount]="item.rating.count" ></app-rating>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <pagination-controls (pageChange)="pageChange(currPage = $event)"></pagination-controls>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

<!-- <div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card cardd">
                    <div class="path">HOME / FACE <a>/ CLEANSERS</a> </div>
                    <div class="row">
                        <div class="col-md-6 text-center align-self-center"> <img class="img-fluid"
                                src="https://i.imgur.com/7a9V4yw.png"> </div>
                        <div class="col-md-6 info">
                            <div class="row title">
                                <div class="col">
                                    <h2>Herbalism</h2>
                                </div>
                                <div class="col text-right"><a href="#"><i class="fa fa-heart-o"></i></a></div>
                            </div>
                            <p>Natural herbal wash</p> <span class="fa fa-star checked"></span> <span
                                class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span
                                class="fa fa-star checked"></span> <span class="fa fa-star-half-full"></span> <span
                                id="reviews">1590 Reviews</span>
                            <div class="row price"> <label class="radio"> <input type="radio" name="size1" value="small"
                                        checked> <span>
                                        <div class="row"><b>1.5 oz.</b></div>
                                        <div class="row">$12.95</div>
                                    </span> </label> <label class="radio"> <input type="radio" name="size1"
                                        value="large"> <span>
                                        <div class="row"><b>4.4 oz.</b></div>
                                        <div class="row">$21.95</div>
                                    </span> </label> </div>
                        </div>
                    </div>
                    <div class="row lower">
                        <div class="col"> <a class="carousel-control-prev" href="#demo" data-slide="prev"><i
                                    class="fa fa-arrow-left"></i></a> <a class="carousel-control-next" href="#demo"
                                data-slide="next"><i class="fa fa-arrow-right"></i></a> </div>
                        <div class="col text-right align-self-center"> <button class="btn">Add to cart</button> </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card cardd">
                    <div class="path">HOME / FACE <a>/ CLEANSERS</a> </div>
                    <div class="row">
                        <div class="col-md-6 text-center align-self-center"> <img class="img-fluid"
                                src="https://i.imgur.com/7a9V4yw.png"> </div>
                        <div class="col-md-6 info">
                            <div class="row title">
                                <div class="col">
                                    <h2>Herbalism 2</h2>
                                </div>
                                <div class="col text-right"><a href="#"><i class="fa fa-heart-o"></i></a></div>
                            </div>
                            <p>Natural herbal wash pro</p> <span class="fa fa-star checked"></span> <span
                                class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span
                                class="fa fa-star checked"></span> <span class="fa fa-star-half-full"></span> <span
                                id="reviews">1590 Reviews</span>
                            <div class="row price"> <label class="radio"> <input type="radio" name="size2"
                                        value="small"> <span>
                                        <div class="row"><b>13.5 oz.</b></div>
                                        <div class="row">$36.95</div>
                                    </span> </label> <label class="radio"> <input type="radio" name="size2"
                                        value="large" checked> <span>
                                        <div class="row"><b>18.4 oz.</b></div>
                                        <div class="row">$61.95</div>
                                    </span> </label> </div>
                        </div>
                    </div>
                    <div class="row lower">
                        <div class="col"> <a class="carousel-control-prev" href="#demo" data-slide="prev"><i
                                    class="fa fa-arrow-left"></i></a> <a class="carousel-control-next" href="#demo"
                                data-slide="next"><i class="fa fa-arrow-right"></i></a> </div>
                        <div class="col text-right align-self-center"> <button class="btn">Add to cart</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->