/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

@import "~@ng-select/ng-select/themes/default.theme.css";

.skiptranslate {
    display: none !important;
}

.VIpgJd-suEOdc .VIpgJd-yAWNEb-L7lbkb .skiptranslate {
    display: none !important;

}

#goog-gt-tt {
    display: none !important;
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
    box-shadow: none !important;
    background-color: transparent !important;
}
