  <!-- Checkout Start -->
  <div class="container-fluid">
    
    <div class="row mb-3">
            <div *ngFor="let item of userAddressList let index = index" class="d-grid align-items-center justify-content-center mx-auto mb-2 ">
                <div class="card">
                    <div class="card-header">
                        <input class="form-check-input mx-auto" type="radio" name="address" [checked]="item.title === 'Home' || item.title === 'home'" (change)="onAddressChange(item)" >
                        <label class="form-check-label mx-4">{{item.title}}</label>
                    </div>
                    <div class="card-body text-center" style="line-height: 1;">
                      <p><b>{{item.name}}</b></p>
                      <p>{{item.mobileNo}}</p>
                      <p>{{item.addressLineOne}}</p>
                      <p>{{item.addressLineTwo}}</p>
                      <p>{{item.landmark}}, {{item.city}}, {{item.state}}, {{item.country}}</p>
                      <p>{{item.pincode}}</p>
                      <a class="btn btn-outline-primary mx-1"> <i class="fas fa-edit"></i></a>
                      <a class="btn btn-outline-danger mx-1" (click)="removeAddress(item.addressId, index)"><i class="fas fa-trash-alt"></i></a>
                    </div>
                  </div>
            </div>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <!-- billing-form -->
                <form [formGroup]="addressBillingForm">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Title (Home or Office)</label>
                            <input  formControlName="title" class="form-control" type="text" placeholder="Home">
                            <!-- title Validation -->
                            <ul *ngIf="addressBillingForm.controls['title'].invalid && (addressBillingForm.controls['title'].dirty || addressBillingForm.controls['title'].touched)">
                                <li *ngIf="addressBillingForm.controls['title'].hasError('required')" style="color: red;">
                                    title is required (home or office)
                                </li>
                            </ul>
                        </div>
                            <div class="col-md-6 form-group">
                                <label>Name</label>
                                <input  formControlName="name" class="form-control" type="text" placeholder="John deo">
                                <!-- name Validation -->
                                <ul *ngIf="addressBillingForm.controls['name'].invalid && (addressBillingForm.controls['name'].dirty || addressBillingForm.controls['name'].touched)">
                                    <li *ngIf="addressBillingForm.controls['name'].hasError('required')" style="color: red;">
                                      Your name is required
                                    </li>
                                </ul>
                            </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input formControlName="mobileNo" class="form-control" type="tel" placeholder="+123 456 789">
                            <!-- mobileNo number Validation -->
                            <ul *ngIf="addressBillingForm.controls['mobileNo'].invalid && (addressBillingForm.controls['mobileNo'].dirty || addressBillingForm.controls['mobileNo'].touched)">
                                <li *ngIf="addressBillingForm.controls['mobileNo'].hasError('required')" style="color: red;">
                                  Your mobileNo Number is required
                                </li>
                            </ul>
                        </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 1</label>
                                <input formControlName="addressLineOne" class="form-control" type="text" placeholder="123 Street">
                                <!-- Address Line 1 Validation -->
                                <ul *ngIf="addressBillingForm.controls['addressLineOne'].invalid && (addressBillingForm.controls['addressLineOne'].dirty || addressBillingForm.controls['addressLineOne'].touched)">
                                    <li *ngIf="addressBillingForm.controls['addressLineOne'].hasError('required')" style="color: red;">
                                      Your address is required
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 2</label>
                                <input formControlName="addressLineTwo" class="form-control" type="text" placeholder="123 Street">
                                <!-- Address Line 2 Validation -->
                                <ul *ngIf="addressBillingForm.controls['addressLineTwo'].invalid && (addressBillingForm.controls['addressLineTwo'].dirty || addressBillingForm.controls['addressLineTwo'].touched)">
                                    <li *ngIf="addressBillingForm.controls['addressLineTwo'].hasError('required')" style="color: red;">
                                      Your address is required
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>LandMark</label>
                                <input formControlName="landmark" class="form-control" type="text" placeholder="shop, mall or some known place">
                                <!-- LandMark Validation -->
                                <ul *ngIf="addressBillingForm.controls['landmark'].invalid && (addressBillingForm.controls['landmark'].dirty || addressBillingForm.controls['landmark'].touched)">
                                    <li *ngIf="addressBillingForm.controls['landmark'].hasError('required')" style="color: red;">
                                      landmark is required
                                    </li>
                                </ul>
                            </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select formControlName="country" class="custom-select" placeholder="Choose Country">
                                <option selected>Choose Country</option>
                                <option *ngFor="let item of countries" >{{item}}</option>
                            </select>
                            <!-- country Validation -->
                                <ul *ngIf="addressBillingForm.controls['country'].invalid && (addressBillingForm.controls['country'].dirty || addressBillingForm.controls['country'].touched)">
                                    <li *ngIf="addressBillingForm.controls['country'].hasError('required')" style="color: red;">
                                      please Select your country.
                                    </li>
                                </ul>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input formControlName="city" class="form-control" type="text" placeholder="New York">
                            <!-- City Validation -->
                            <ul *ngIf="addressBillingForm.controls['city'].invalid && (addressBillingForm.controls['city'].dirty || addressBillingForm.controls['city'].touched)">
                                <li *ngIf="addressBillingForm.controls['city'].hasError('required')" style="color: red;">
                                  Your City is required
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input formControlName="state" class="form-control" type="text" placeholder="New York">
                            <!-- State Validation -->
                            <ul *ngIf="addressBillingForm.controls['state'].invalid && (addressBillingForm.controls['state'].dirty || addressBillingForm.controls['state'].touched)">
                                <li *ngIf="addressBillingForm.controls['state'].hasError('required')" style="color: red;">
                                  Your State is required
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input formControlName="pincode" class="form-control" type="number" placeholder="123">
                            <!-- ZipCode Validation -->
                            <ul *ngIf="addressBillingForm.controls['pincode'].invalid && (addressBillingForm.controls['pincode'].dirty || addressBillingForm.controls['pincode'].touched)">
                                <li *ngIf="addressBillingForm.controls['pincode'].hasError('required')" style="color: red;">
                                  Your pincode is required
                                </li>
                            </ul>
                        </div>
                       
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Create an account</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto" (click)="shippingAddress($event)" >
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address"  >Ship to different address</label>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
            <div *ngIf="isShippingAddressEnabled" class="mb-5" id="shipping-address">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                <div class="bg-light p-30">
                    <form [formGroup]="shippingAddressForm" >
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Title (Home or Office)</label>
                            <input  formControlName="title" class="form-control" type="text" placeholder="Home">
                            <!-- title Validation -->
                            <ul *ngIf="shippingAddressForm.controls['title'].invalid && (shippingAddressForm.controls['title'].dirty || shippingAddressForm.controls['title'].touched)">
                                <li *ngIf="shippingAddressForm.controls['title'].hasError('required')" style="color: red;">
                                    title is required (home or office)
                                </li>
                            </ul>
                        </div>
                            <div class="col-md-6 form-group">
                                <label>Full Name</label>
                                <input  formControlName="name" class="form-control" type="text" placeholder="John deo">
                                <!-- name Validation -->
                                <ul *ngIf="shippingAddressForm.controls['name'].invalid && (shippingAddressForm.controls['name'].dirty || shippingAddressForm.controls['name'].touched)">
                                    <li *ngIf="shippingAddressForm.controls['name'].hasError('required')" style="color: red;">
                                      Your firstname is required
                                    </li>
                                </ul>
                            </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input formControlName="mobileNo" class="form-control" type="tel" placeholder="+123 456 789">
                            <!-- mobileNo number Validation -->
                            <ul *ngIf="shippingAddressForm.controls['mobileNo'].invalid && (shippingAddressForm.controls['mobileNo'].dirty || shippingAddressForm.controls['mobileNo'].touched)">
                                <li *ngIf="shippingAddressForm.controls['mobileNo'].hasError('required')" style="color: red;">
                                  Your mobileNo Number is required
                                </li>
                            </ul>
                        </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 1</label>
                                <input formControlName="addressLineOne" class="form-control" type="text" placeholder="123 Street">
                                <!-- Address Line 1 Validation -->
                                <ul *ngIf="shippingAddressForm.controls['addressLineOne'].invalid && (shippingAddressForm.controls['addressLineOne'].dirty || shippingAddressForm.controls['addressLineOne'].touched)">
                                    <li *ngIf="shippingAddressForm.controls['addressLineOne'].hasError('required')" style="color: red;">
                                      Your address is required
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address Line 2</label>
                                <input formControlName="addressLineTwo" class="form-control" type="text" placeholder="123 Street">
                                <!-- Address Line 2 Validation -->
                                <ul *ngIf="shippingAddressForm.controls['addressLineTwo'].invalid && (shippingAddressForm.controls['addressLineTwo'].dirty || shippingAddressForm.controls['addressLineTwo'].touched)">
                                    <li *ngIf="shippingAddressForm.controls['addressLineTwo'].hasError('required')" style="color: red;">
                                      Your address is required
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>LandMark</label>
                                <input formControlName="landMark" class="form-control" type="text" placeholder="shop, mall or some known place">
                                <!-- LandMark Validation -->
                                <ul *ngIf="shippingAddressForm.controls['landmark'].invalid && (shippingAddressForm.controls['landmark'].dirty || shippingAddressForm.controls['landmark'].touched)">
                                    <li *ngIf="shippingAddressForm.controls['landmark'].hasError('required')" style="color: red;">
                                      landmark is required
                                    </li>
                                </ul>
                            </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select formControlName="country" class="custom-select" placeholder="Choose Country">
                                <option selected>Choose Country</option>
                                <option *ngFor="let item of countries" >{{item}}</option>
                            </select>
                            <!-- country Validation -->
                                <ul *ngIf="shippingAddressForm.controls['country'].invalid && (shippingAddressForm.controls['country'].dirty || shippingAddressForm.controls['country'].touched)">
                                    <li *ngIf="shippingAddressForm.controls['country'].hasError('required')" style="color: red;">
                                      please Select your country.
                                    </li>
                                </ul>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input formControlName="city" class="form-control" type="text" placeholder="New York">
                            <!-- City Validation -->
                            <ul *ngIf="shippingAddressForm.controls['city'].invalid && (shippingAddressForm.controls['city'].dirty || shippingAddressForm.controls['city'].touched)">
                                <li *ngIf="shippingAddressForm.controls['city'].hasError('required')" style="color: red;">
                                  Your City is required
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input formControlName="state" class="form-control" type="text" placeholder="New York">
                            <!-- State Validation -->
                            <ul *ngIf="shippingAddressForm.controls['state'].invalid && (shippingAddressForm.controls['state'].dirty || shippingAddressForm.controls['state'].touched)">
                                <li *ngIf="shippingAddressForm.controls['state'].hasError('required')" style="color: red;">
                                  Your State is required
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input formControlName="pincode" class="form-control" type="number" placeholder="123">
                            <!-- ZipCode Validation -->
                            <ul *ngIf="shippingAddressForm.controls['pincode'].invalid && (shippingAddressForm.controls['pincode'].dirty || shippingAddressForm.controls['pincode'].touched)">
                                <li *ngIf="shippingAddressForm.controls['pincode'].hasError('required')" style="color: red;">
                                  Your pincode is required
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    <div class="d-flex justify-content-between">
                        <p>Product Name 1</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Product Name 2</p>
                        <p>$150</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Product Name 3</p>
                        <p>$150</p>
                    </div>
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>$160</h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Direct Check</label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                    </div> 
                    <button (click)="onAddressSubmit()" class="btn btn-block btn-primary font-weight-bold py-3" >Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->   